.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 27px;

  summary {
    color: var(--pale-lavender);
    font-size: 21px;
    letter-spacing: -0.63px;
    line-height: 160%;
    margin: auto;
    padding-top: 24px;
    text-align: center;
    width: 560px;
  }

  & > div {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
    padding: 56px 0 30px;
  }
}
